# Importing Required Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#  Loading the csv file into Dataframe

In [2]:
df = pd.read_csv('heart_disease_data.csv')

# Display first 5 rows

In [3]:
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# shape and info

In [4]:
df.shape,df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

((303, 14), None)

In [5]:
# checking the distribution of target values
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

# 1-> Defective Heart
# 0-> Heathly Heart

Splitting the features and target

In [6]:
X = df.drop(columns='target',axis=1) # axis = 1 for column and 0 for row
y = df['target']

In [7]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [8]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Splitting the training and testing data

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=69)

Shapes of training and testing data

In [10]:
X_train.shape,X_test.shape # splitted our data into 80% training and 20% testing

((242, 13), (61, 13))

# Model Training Using Logistic Regression

In [11]:
model = LogisticRegression()

In [12]:
model.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# Model Evaluation

Using Accuracy Score

In [13]:
X_train_pred = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_pred,y_train)

In [14]:
print(f"Accuracy on Training data: {training_data_accuracy}")

Accuracy on Training data: 0.8677685950413223

In [15]:
X_test_pred = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_pred,y_test)

In [16]:
print(f"Accuracy on Training data: {test_data_accuracy}")

Accuracy on Training data: 0.8360655737704918

# Now predicting our target on input data

In [17]:
# 57,1,0,110,201,0,1,126,1,1.5,1,0,1,1
# above input data is from dataset where in last particular element denotes the target value
# and other values denotes the features from the dataset in order
input_data = (57,1,0,110,201,0,1,126,1,1.5,1,0,1)

input_data_array = np.asarray(input_data)

input_data_reshaped = input_data_array.reshape(1,-1)

# above we have converted the tuple into an array and reshaped it

In [18]:
input_data_reshaped

array([[ 57. ,   1. ,   0. , 110. , 201. ,   0. ,   1. , 126. ,   1. ,
          1.5,   1. ,   0. ,   1. ]])

In [19]:
prediction = model.predict(input_data_reshaped)
prediction

array([1], dtype=int64)

In [20]:
prediction[0]

1

In [21]:
if(prediction[0]==0):
    print("The person does not have any heart disease")
else:
    print("The person has a heart disease")

The person has a heart disease